@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, #header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, #header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
button{
	background: none;
	border: none;
	cursor: pointer;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar{
	display: none;
}

/*common*/
html, body{
	color: #111;
	font-family: 'Open Sans', sans-serif;
}
section{
	position: relative;
	background: #fff;
}
.width_con{
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 120px 0;
	text-align: center;
}

h2{
	font-size: 50px;
	font-weight: 700;
  font-family:'bitbit';
}
h2:after{
	content: '';
	position: absolute;
	width: 40px;
	height: 3px;
	left: 50%;
	margin: 74px 0 0 -20px;
	background: #8c75ef;
}

/*#header*/
#header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: all 350ms linear, opacity 650ms linear 1000ms, top 650ms linear 1000ms;
}
#header.blur{
	background: rgba(17, 17, 17, 0.35);
	backdrop-filter: blur(10px);
}
#header > div{
	height: 80px;
}
#header .width_con{
	padding: 0;
}

#header .width_con .logo{
	position: absolute;
	top:18px;
	left: 0;
}
#header .width_con .logo a{
	display: block;
}
#header .width_con .logo a img{
	width: 100%;
	max-width: 150px;
}

#header .width_con .mNav{
	position: absolute;
	top: 30px;
	right: 0;
}
#header .width_con .mNav ul{
	display: flex;
	gap: 50px;
}
#header .width_con .mNav ul li{
	font-weight: 700;
	text-transform: uppercase;
}
#header .width_con .mNav ul li a{
	color: #fff;
	text-decoration: none;
}
#header .width_con .mNav ul li a:hover{
	color: #8c75ef;
}

#header .width_con .mb_btn,
#header .navOn_cover{
	display: none;
}

/*intro*/
#intro{
	height: 100vh;
	background: radial-gradient(ellipse at bottom, #1d0158 0%, #090a0f 100%);
	overflow: hidden;
}
#intro .fixed_con{
	position: fixed;
	width: 100%;
	height: 100%;
}
#intro .fixed_con .width_con{
	height: 100%;
	padding: 0;
}

#intro .fixed_con .width_con .title_con{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#intro .fixed_con .width_con .title_con h2{
	color: #fff;
	letter-spacing: .5rem;
	line-height: 1.5em;
}
#intro .fixed_con .width_con .title_con h2::after{
	display: none;
}

#intro .fixed_con #star{
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

#intro .space{
	position: absolute;
	width: 100%; 
	height: 100%; 
	background: url(../img/bg_visual01.png) no-repeat center;
	background-size: cover;
}

#intro .scroll_down{
	position: absolute; 
	bottom: 20px; 
	right: 0; 
	left: 0; 
	margin: auto; 
	width: 34px; 
	height: 55px;
}
#intro .scroll_down .mouse{
	width: 3px; 
	height: 35px; 
	padding: 10px 15px; 
	border: 2px solid #fff; 
	border-radius: 25px; 
	opacity: 0.75; 
	box-sizing: content-box;
}
#intro .scroll_down .mouse .scroller{
	width: 3px; 
	height: 10px; 
	border-radius: 25%; 
	background: #fff; 
	animation: scroll 2.2s cubic-bezier(.15, .41, .69, .94) infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/*blank*/
#skip{
	background: #fff url(../img/bg_visual02.jpg) no-repeat center top;
	width: 100%;
	height: 100vh;
	margin-top: -1px;
}

/*about*/
#about{

}

/*portfolio*/
#portfolio{
	
}

/*skill*/
#skill{
	
}


/*contact*/
#contact{
	
}

/*responsive*/
@media (max-width: 1199px) {
	body.lock{
		overflow: hidden;
	}
	body.lock #header .navOn_cover{
		display: block;
	}
	#header .navOn_cover{
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);
		transition: all 0.8s ease-in-out;
	}

	#header .width_con .logo{
		left: 20px;
	}

	
	#header .width_con .mNav.on{
		right: 0;
	}
	#header .width_con .mNav{
		top: 0;
		right: -100%;
		width: 30%;
		height: 100vh;
		padding: 100px 30px;
		background-color: #fff;
		transition: all .4s ease-in-out;
		z-index: 999;
	}
	
	#header .width_con .mNav ul {
		flex-direction: column;
		text-align: left;
	}
	#header .width_con .mNav ul li a{
		color: #222;
	}

	#header .width_con .mb_btn{
		position: fixed;
		display: block;
		top: 25px;
		right: 20px;
		z-index: 999;
	}
	#header .width_con .mb_btn .menu{
		position: relative;
		display: block;
		width: 40px;
		height: 25px;
		transition: all .4s;
	}
	#header .width_con .mb_btn .menu span{
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background: #fff;
		border-radius: 4px;
		transition: all .4s;
	}
	#header .width_con .mb_btn .menu span:nth-of-type(1){
		top: 0;
	}
	#header .width_con .mb_btn .menu span:nth-of-type(2){
		top: 12px;
	}
	#header .width_con .mb_btn .menu span:nth-of-type(3){
		bottom: 0;
	}

	
	#header .width_con .mb_btn .menu.active span{
		background: #222;	
	}
	#header .width_con .mb_btn .menu.active span:nth-of-type(1),
	#header .width_con .mb_btn .menu.active span:nth-of-type(3){
		width: 20px;
	}
	#header .width_con .mb_btn .menu.active span:nth-of-type(1){
		transform: translate(-2px, 4px) rotate(-45deg);
	}
	#header .width_con .mb_btn .menu.active span:nth-of-type(3){
		transform: translate(-2px, -3px) rotate(45deg);
	}
}


@media (max-width: 1023px) {
	h2{font-size: 40px;}
	
}

@media (max-width: 767px) {
	#header .width_con .mNav{
		width: 50%;
	}

	
	#intro .fixed_con .width_con .title_con h2{
		min-width: 330px;
	}
}