@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

@font-face {
    font-family: 'Binggrae-Two';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, #header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, #header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	background: none;
	border: none;
	cursor: pointer;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar{
	display: none;
}

/*common*/
html, body{
	color: #222;
	font-family: 'Open Sans', sans-serif;
}
section{
	position: relative;
	background: #fff;
}
.inner{
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 120px 0;
}

h2{
	position: relative;
	margin-bottom: 56px;
	font-size: 50px;
	font-weight: 700;
  font-family:'bitbit';
	text-align: center;
}
h2:after{
	content: '';
	position: absolute;
	bottom: -26px;
	left: 50%;
	width: 40px;
	height: 3px;
	transform: translateX(-50%);
	background: #8c75ef;
}
h3{
	font-size: 36px;
	font-weight: 700;

}

/*#header*/
#header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: all 350ms linear, opacity 650ms linear 1000ms, top 650ms linear 1000ms;
}
#header.blur{
	background: rgba(17, 17, 17, 0.35);
	backdrop-filter: blur(10px);
}
#header > div{
	height: 80px;
}
#header .inner{
	padding: 0;
}

#header .inner .logo{
	position: absolute;
	top:18px;
	left: 0;
}
#header .inner .logo a{
	display: block;
}
#header .inner .logo a img{
	width: 100%;
	max-width: 150px;
}

#header .inner .mNav{
	position: absolute;
	top: 30px;
	right: 0;
}
#header .inner .mNav ul{
	display: flex;
	gap: 50px;
}
#header .inner .mNav ul li{
	font-weight: 700;
	text-transform: uppercase;
}
#header .inner .mNav ul li a{
	color: #fff;
	text-decoration: none;
}
#header .inner .mNav ul li a:hover{
	color: #8c75ef;
}

#header .inner .mb_btn,
#header .navOn_cover{
	display: none;
}

/*intro*/
#intro{
	height: 100vh;
	background: radial-gradient(ellipse at bottom, #1d0158 0%, #090a0f 100%);
	overflow: hidden;
}
#intro .fixed_con{
	position: fixed;
	width: 100%;
	height: 100%;
}
#intro .fixed_con .inner{
	height: 100%;
	padding: 0;
}

#intro .fixed_con .inner .title_con{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#intro .fixed_con .inner .title_con h2{
	color: #fff;
	letter-spacing: .5rem;
	line-height: 1.5em;
	text-align: center;
	margin-bottom: unset;
}
#intro .fixed_con .inner .title_con h2::after{
	display: none;
}

#intro .fixed_con #star{
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

#intro .space{
	position: absolute;
	width: 100%; 
	height: 100%; 
	background: url(../img/bg_visual01.png) no-repeat center;
	background-size: cover;
}

#intro .scroll_down{
	position: absolute; 
	bottom: 20px; 
	right: 0; 
	left: 0; 
	margin: auto; 
	width: 34px; 
	height: 55px;
}
#intro .scroll_down .mouse{
	width: 3px; 
	height: 35px; 
	padding: 10px 15px; 
	border: 2px solid #fff; 
	border-radius: 25px; 
	opacity: 0.75; 
	box-sizing: content-box;
}
#intro .scroll_down .mouse .scroller{
	width: 3px; 
	height: 10px; 
	border-radius: 25%; 
	background: #fff; 
	animation: scroll 2.2s cubic-bezier(.15, .41, .69, .94) infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/*blank*/
#skip{
	background: #fff url(../img/bg_visual02.jpg) no-repeat center top;
	width: 100%;
	height: 100vh;
	margin-top: -1px;
}

/*about*/
#about .inner .about_con{
	display: flex;
	width: 100%;
}

#about .inner .about_con .left,
#about .inner .about_con .right{
	width: 50%;
}

#about .inner .about_con .left{
	text-align: center;
}
#about .inner .about_con .left .img_box img{
	width: 100%; 
	max-width: 300px;
}

#about .inner .about_con .right{}
#about .inner .about_con .right h2{
	text-align: left;
}
#about .inner .about_con .right h2::after{
	left: 0; 
	transform: none;
}
#about .inner .about_con .right h3{
	line-height: 1.4; 
	font-family: 'Binggrae-Two';
}
#about .inner .about_con .right p{
  margin-top: 30px;
  line-height: 1.4;
	font-size: 1.4rem;
	font-family: 'KyoboHandwriting2021sjy';
}


/*portfolio*/
#portfolio .inner{
}

#portfolio .inner .card_con{
	position: relative;
	display: flex;
	justify-content: flex-end;
}

#portfolio .inner .card_con .card{
	width: 75%;
	padding: 40px 0;
	border-radius: 10px;
	background-color: #fff; 
	box-shadow: 0 0 15px rgba(1, 93, 204, .5);
}

#portfolio .inner .card_con .card .img_box{
	position: absolute;
	left: 0;
}
#portfolio .inner .card_con .card .img_box img{
	width: 100%; 
	max-width: 582px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 35%);
}

#portfolio .inner .card_con .card .text_con{
	margin-left: 319px;
}
#portfolio .inner .card_con .card .text_con h3{
	position: relative;
	display: inline-block;
	margin: -10px 0 54px;
	text-transform: uppercase;
}
#portfolio .inner .card_con .card .text_con h3::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 2px;
	margin: 0px 0 -27px 3px;
	background: #222;
}
#portfolio .inner .card_con .card .text_con h4{
	margin: -5px 0 30px;
	font-size: 36px;
	font-weight: 400;
}
#portfolio .inner .card_con .card .text_con .info{
	font-family: 'Roboto', sans-serif;
}
#portfolio .inner .card_con .card .text_con .info_title{
	margin-bottom: 14px;
	font-size: 24px;
	font-weight: 500;
}
#portfolio .inner .card_con .card .text_con .info_desc{
	margin-bottom: 24px;
	font-size: 18px;
	font-weight: 400;
}
#portfolio .inner .card_con .card .text_con .info_desc:last-child{
	margin-bottom: 53px;
}
#portfolio .inner .card_con .card .text_con .pf_btn{
	width: 140px;
	height: 40px;
	border: 1px solid #222;
	border-radius: 5px;
	transition: .2s;
}
#portfolio .inner .card_con .card .text_con .pf_btn:hover{
	background: #015dcc;
	border: 1px solid #015dcc;
}
#portfolio .inner .card_con .card .text_con .pf_btn a{
	color: #222;
	font-size: 20px;
	font-weight: 700;
}


/*skill*/
#skill{
	
}


/*contact*/
#contact{
	
}

/*responsive*/
@media (max-width: 1199px) {
	.inner{
		padding: 100px 0;
		max-width: 1000px;
	}
	h3{
		font-size: 32px;
	}

	body.lock{
		overflow: hidden;
	}
	body.lock #header .navOn_cover{
		display: block;
	}

	/*header*/
	#header .navOn_cover{
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);
		transition: all 0.8s ease-in-out;
	}

	#header .inner .logo{
		position: fixed;
		left: 15px;
	}

	
	#header .inner .mNav.on{
		right: 0;
	}
	#header .inner .mNav{
		position: fixed;
		top: 0;
		right: -100%;
		width: 30%;
		height: 100vh;
		padding: 100px 30px;
		background-color: #fff;
		transition: all .4s ease-in-out;
		z-index: 999;
	}
	
	#header .inner .mNav ul {
		flex-direction: column;
		text-align: left;
	}
	#header .inner .mNav ul li a{
		color: #222;
	}

	#header .inner .mb_btn{
		position: fixed;
		display: block;
		top: 25px;
		right: 15px;
		z-index: 999;
	}
	#header .inner .mb_btn .menu{
		position: relative;
		display: block;
		width: 40px;
		height: 25px;
		transition: all .4s;
	}
	#header .inner .mb_btn .menu span{
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background: #fff;
		border-radius: 4px;
		transition: all .4s;
	}
	#header .inner .mb_btn .menu span:nth-of-type(1){
		top: 0;
	}
	#header .inner .mb_btn .menu span:nth-of-type(2){
		top: 12px;
	}
	#header .inner .mb_btn .menu span:nth-of-type(3){
		bottom: 0;
	}

	
	#header .inner .mb_btn .menu.active span{
		background: #222;	
	}
	#header .inner .mb_btn .menu.active span:nth-of-type(1),
	#header .inner .mb_btn .menu.active span:nth-of-type(3){
		width: 20px;
	}
	#header .inner .mb_btn .menu.active span:nth-of-type(1){
		transform: translate(-2px, 4px) rotate(-45deg);
	}
	#header .inner .mb_btn .menu.active span:nth-of-type(3){
		transform: translate(-2px, -3px) rotate(45deg);
	}

	/*portfolio*/
	#portfolio .inner .card_con .card .img_box{
		display: flex;
		align-items: center;
		height: 100%;
		max-height: 370px;
	}
	#portfolio .inner .card_con .card .img_box img{
		max-width: 520px;
	}

	#portfolio .inner .card_con .card .text_con .info_desc:last-child {
		margin-bottom: 57px;
	}
}

@media (max-width: 1023px) {
	.inner{
		max-width: 750px;
		padding: 80px 0;
	}

	h2{font-size: 40px;}
	h3{font-size: 30px;}

	/*about*/
	#about .inner .about_con .left .img_box img {
		max-width: 250px;
	}

	#about .inner .about_con .right h3 {
		font-size: 26px;
	}
	#about .inner .about_con .right p {
		font-size: 1.2rem;
	}

	/*portfolio*/
	#portfolio .inner .card_con{
		justify-content: center;
	}
	
	#portfolio .inner .card_con .card{
		width: 650px;
		margin-top: 200px;
	}
	
	#portfolio .inner .card_con .card .img_box{
		display: block;
		top: 0;
		width: 100%;
		height: auto;
		text-align: center;
	}
	#portfolio .inner .card_con .card .img_box img{
		max-width: 494px;
	}
	
	#portfolio .inner .card_con .card .text_con{
		margin: 114px 0 0 0;
    text-align: center;
	}
	#portfolio .inner .card_con .card .text_con h3::after{
		left: 50%;
		margin: 0 0 -27px 0;
		transform: translateX(-50%);
	}
	#portfolio .inner .card_con .card .text_con h4{
		font-size: 30px;
	}
	#portfolio .inner .card_con .card .text_con .info_desc:last-child{
		margin-bottom: 47px;
	}
}

@media (max-width: 767px) {
	/*header*/
	#header .inner .mNav{
		width: 50%;
	}

	/*intro*/
	#intro .fixed_con .inner .title_con h2{
		min-width: 330px;
		font-size: 36px;
	}

	/*about*/
	#about .inner .about_con {
    flex-direction: column;
    align-items: center;
	}

	#about .inner .about_con .left,
	#about .inner .about_con .right{
		width: 100%;
	}
	
	#about .inner .about_con .left{
		margin-top: 60px;
	}
	#about .inner .about_con .left .img_box img {
		max-width: 220px;
	}

	#about .inner .about_con .right{
		margin-top: 50px;
		text-align: center;
	}
	#about .inner .about_con .right h2{
		position: absolute;
    top: 50px;
		left: 50%;
		margin-bottom: 0;
    transform: translateX(-50%);
	}
	#about .inner .about_con .right h2::after {
		left: 50%;
		transform: translateX(-50%);
	}
	#about .inner .about_con .right h3{
		font-size: 24px;
	}
	#about .inner .about_con .right p{
		margin-top: 20px;
		font-size: 1rem;
	}


	/*portfolio*/
	#portfolio .inner .card_con{
	}
	
	#portfolio .inner .card_con .card{
		width: 75%;
		padding: 20px;
		margin-top: 115px;
	}
	
	#portfolio .inner .card_con .card .img_box{
	}
	#portfolio .inner .card_con .card .img_box img{
		max-width: 291px;
	}
	
	#portfolio .inner .card_con .card .text_con{
		margin: 71px 0 0;
	}
	#portfolio .inner .card_con .card .text_con h3{
		margin: -10px 0 36px;
		font-size: 28px;
	}
	#portfolio .inner .card_con .card .text_con h3::after{
		margin: 0 0 -19px;
	}
	#portfolio .inner .card_con .card .text_con h4{
		margin: -5px 0 22px;
		font-size: 28px;
	}

	#portfolio .inner .card_con .card .text_con .info_title{
		margin-bottom: 11px;
		font-size: 20px;
	}
	#portfolio .inner .card_con .card .text_con .info_desc{
		margin-bottom: 14px;
		font-size: 1rem;
	}
	#portfolio .inner .card_con .card .text_con .info_desc:last-child{
	}

	
}